body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    height: 6vh;
    padding: 2px;
    background-color: #2F3B76;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 4vh;
}

.grid {
    display: grid;
    grid-gap: 5vh;
    height: 87vh;
    margin-top: 5vh;
    margin-right: 25vh;
    margin-left: 25vh;
    grid-template-columns: repeat(3, 1fr);
}

.grid-block {
    background-color: #2F3B76;
    font-size: 4vh;
    color: #fff;
    border-radius: 15px;
}

.block-content {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.label-titles {
    font-size: 4vh;
}

.label-ph-atual {
    font-size: 13vh;
}

.modo-buttons {
    background: white;
    color: #2F3A75;
    font-size: 5vh;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 85%;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 2vh;
}

.modo-buttons:hover,
.configs-button:hover {
    background: #1d2346;
    color: white;
}

.img_alertas {
    width: 15vh;
    height: 15vh;
    margin-top: 1vh;
    cursor: pointer;
}

.img_registros {
    width: 13vh;
    height: 13vh;
    margin-top: 2vh;
    cursor: pointer;
}

.label-configs {
    font-size: 3vh;
    margin-top: 2vh;
}

.configs-button {
    background: white;
    color: #2F3A75;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 40%;
    margin-top: 2vh;
}

.graph {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    background-color: #E6EFFF;
    border: 2px solid #2F3B76;
    color: #2F3B76;
}

.close {
    position: absolute;
    top: 0.01vh;
    right: 1vh;
    font-size: 4vh;
    cursor: pointer;
}


.registros-popup,
.alertas-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.alertas-popup-content,
.registros-popup-content {
    margin-top: 10vh;
    margin-left: 50vh;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    height: 75vh;
    position: relative;
}

.alertas-popup-header,
.registros-popup-header {
    background-color: #2F3B76;
    color: #fff;
    font-size: 4vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}