body {
    margin: 0;
    padding: 0;
    /* font-family: 'Kdam Thmor Pro'; */
    font-family: 'Alata'
}

.header {
    height: 6vh;
    padding: 2px;
    background-color: #2F3B76;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 4vh;
}

.grid {
    display: grid;
    grid-gap: 5vh;
    height: 87vh;
    margin-top: 5vh;
    margin-right: 25vh;
    margin-left: 25vh;
    grid-template-columns: repeat(3, 1fr);
}

.grid-block {
    background-color: #2F3B76;
    color: #fff;
    border-radius:1.5vh;
}

.block-content {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

#graficoPH
{
    width: 99%;
    height: 99%;
    background-color: white;
}

.graph {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    background-color: white;
    border: 2px solid #2F3B76;

    display: flex;
    justify-content: center;
    align-items: center;
}

.label-titles {
    font-size: 4vh;
}

.label-ph-atual {
    font-size: 13vh;
}

.modo-buttons {
    background: white;
    color: #2F3A75;
    font-size: 4.5vh;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 85%;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 2vh;
    font-weight: 500;
}

.modo-buttons:hover,
.configs-button:hover {
    background: #1d2346;
    color: white;
}

.img_alertas {
    width: 15vh;
    height: 15vh;
    margin-top: 0.5vh;
    cursor: pointer;
}

.img_report {
    width: 13vh;
    height: 13vh;
    margin-top: 2vh;
    cursor: pointer;
}

.img_registros {
    width: 13vh;
    height: 13vh;
    margin-top: 2vh;
    cursor: pointer;
}

.label-configs {
    font-size: 3vh;
    margin-top: 2vh;
}

.configs-button {
    background: white;
    color: #2F3A75;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 40%;
    margin-top: 2vh;
}

.close {
    position: absolute;
    top: 0.01vh;
    right: 1vh;
    font-size: 4vh;
    cursor: pointer;
}


.registros-popup,
.report-popup,
.pre-report-popup,
.alertas-popup,
.aut-popup,
.man-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.alertas-popup-content,
.report-popup-content,
.pre-report-popup-content,
.registros-popup-content {
    margin-top: 10vh;
    margin-left: 50vh;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 90vh;
    height: 75vh;
    position: relative;
}

.alertas-popup,
.alertas-popup-content,
.report-popup,
.report-popup-content,
.pre-report-popup,
.pre-report-popup-content,
.registros-popup,
.registros-popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registros-popup-content,
.report-popup-content,
.pre-report-popup-content,
.alertas-popup-content {
    margin-top: 0;
    margin-left: 0;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

#regDataTable,
#reportDataTable,
#alertDataTable {
    overflow-y: auto;
}


#regDataTable::-webkit-scrollbar,
#reportDataTable::-webkit-scrollbar,
#alertDataTable::-webkit-scrollbar {
    width: 1vh;
}

#regDataTable::-webkit-scrollbar-thumb,
#reportDataTable::-webkit-scrollbar-thumb,
#alertDataTable::-webkit-scrollbar-thumb {
    background-color: #2F3B76;
}

#regDataTable::-webkit-scrollbar-track,
#reportDataTable::-webkit-scrollbar-track,
#alertDataTable::-webkit-scrollbar-track {
    background-color: #f1f1f18e;
}

#regDataTable,
#reportDataTable,
#alertDataTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#reportDataTable {
    margin-top: 0;
}

.regLine {
    font-size: 2.5vh;
    color: #2F3B76;
    padding: 2vh;
}

.reportLine {
    font-size: 2vh;
    color: #2F3B76;
    padding: 1vh;
}

.report-popup-content
{
    width: 60%;
    height: 80%;
}

.pre-report-popup-content
{
    width: 40%;
    height: 60%;
}

.aut-popup-content {
    margin-top: 10vh;
    margin-left: 35%;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 55vh;
    height: 55vh;
    position: absolute;
}

.man-popup-content {
    margin-top: 10vh;
    margin-left: 35%;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 55vh;
    height: 45vh;
    position: absolute;
}

.alertas-popup-header,
.report-popup-header,
.pre-report-popup-header,
.registros-popup-header,
.aut-popup-header,
.man-popup-header {
    background-color: #2F3B76;
    color: #fff;
    font-size: 4vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#loadingGifRegistros,
#loadingGifReport,
#loadingGifAlertas {
    width: 30vh;
    height: 30vh;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -15vh;
    margin-left: -15vh;
}

#faixa {
    border-radius: 1vh;
    margin-top: 4vh;
    position: relative;
    height: 4vh;
    width: 100%;
    background: linear-gradient(to left,
            navy 0%, royalblue 14%, lightgreen 28%, darkgreen 42%,
            limegreen 56%, yellow 70%, darkorange 85%, firebrick 100%);
}

.seta {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform-origin: bottom center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seta::before {
    content: "";
    position: absolute;
    width: 0.4vh;
    height: 4vh;
    background-color: black;
}

#setaMin,
#setaMax {
    transition: left 0.8s ease;
    margin-top: -20px;
}

#setaAtual {
    transition: left 0.8s ease;
    border-top: 20px solid black;
    margin-bottom: -5vh;
    transform: rotate(180deg);
}

#setaAtualMan {
    transition: left 0.8s ease;
    border-top: 20px solid black;
    margin-top: 0.8vh;
    transform: rotate(180deg);
}

#setaMin {
    border-top: 20px solid green;
}

#setaMax {
    border-top: 20px solid red;
}

.texto1,
.texto2,
.texto3 {
    position: absolute;
    font-size: 2.6vh;
    top: -6.5vh;
}

.texto1 {
    color: green;
}

.texto2 {
    color: red;
}

.texto3 {
    top: -6vh;
    color: black;
    transform: rotate(-180deg);
}

#marcacaoInicio,
#marcacaoFim {
    position: absolute;
    color: white;
    font-size: 3vh;
}

#marcacaoInicio {
    left: 3px;
}

#marcacaoFim {
    right: 3px;
}

.inputAutMin,
.inputAutMax {
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
    height: 7vh;
    width: 15vh;
    margin-top: 2vh;
    color: black;
    font-size: 5vh;
    color: #2F3A75;
    text-align: center;
}

.inputAutMin {
    margin-left: 0.8vh;
    margin-top: 30px;
}

.inputAutMax {
    margin-bottom: 3vh;
    margin-top: 3vh
}

#labelAutInput {
    color: #2F3A75;
    font-weight: 500;
    font-size: 3.3vh;
}

.btnConfigAutFaixa:hover {
    background: #3f853e;
}

#btnConfigManUp {
    background: #52AA50;
    margin-top: 8vh;
}

#btnConfigManDown {
    background: #E22B2B;
    margin-top: 4vh;
}

#btnConfigManUp:hover {
    background: #428a41;
    margin-top: 8vh;
}

#btnConfigManDown:hover {
    background: #bb2424;
    margin-top: 4vh;
}

#btnConfigManUp,
#btnConfigManDown,
#export-btn {
    color: white;
    border: none;
    width: 30vh;
    border-radius: 1vh;
    font-size: 3.5vh;
    position: relative;
    overflow: hidden;
}

.btnConfigFaixa {
    outline: none;
    text-align: center;
    border-radius: 1vh;
    background: #fff;
    border: none;
    color: white;
    text-shadow: 0;
    cursor: pointer;
    transition: all 0.25s ease;
    font-size: 3vh;
    font-weight: bold;
    margin-top: 9vh;
    background: #52AA50;
    width: 30%;
}

.btnConfigFaixa:hover {
    color: white;
    background: #3f853e;
}

.btnConfigFaixa:after {
    content: "Salvar";
}

.btnConfigFaixa:before {
    content: "";
}

.btnConfigFaixa.onclic {
    border: 2px solid #52AA50;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #52AA50;
    animation: rotating 2s 0.25s linear infinite;
    border-radius: 40vh;
    border-width: 1vh;
    background: white;
    width: 6vh;
    height: 6vh;
}

.btnConfigFaixa.onclic:hover {
    color: #1ECD97;
    background: white;
}

.btnConfigFaixa.validate {
    font-size: 4.5vh;
    margin-top: 8vh;
    color: white;
    background: #489447;
    width: 30%;
}

.btnConfigFaixa.validate:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}


.btn,
.btn1,
.export {
    transform: translate(-50%, -50%);
    border-radius: 1vh;
    height: 6vh;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #52AA50;
    color: white;
    font-size: 7vh;
    cursor: pointer;
    width: 30vh;
    margin-left: 26vh;
    text-align: center;
}

.btn.active,
.btn1.active,
.export.active{
    height: 2vh;
}

.btn::before,
.btn1::before,
.export::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: #376d36;
    border-radius: 55px;
    transition: all 3s ease-in-out;
}

.export::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: #4660e4;
    border-radius: 55px;
    transition: all 3s ease-in-out;
}

.btn1 {
    background-color: #E22B2B;
}

.btn1::before {
    background-color: #7e1818;
}

.btn.active::before {
    animation: layer 3s ease-in-out forwards;
}

.btn1.active::before {
    animation: layer 3s ease-in-out forwards;
}

.export.active::before {
    animation: layer 3s ease-in-out forwards;
}

@keyframes layer {
    100% {
        left: 0%;
    }
}

.btn .soft {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}

.btn1 .soft {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}

.export .soft {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}

.btn.active .soft {
    transform: translateY(60px);
}

.btn1.active .soft {
    transform: translateY(60px);
}

.export.active .soft {
    transform: translateY(60px);
}

.btn .soft i,
.btn .soft .btn-text {
    color: #fff;
    font-weight: 500;
}

.btn1 .soft i,
.btn1 .soft .btn-text {
    color: #fff;
    font-weight: 500;
}

.export .soft i,
.export .soft .btn-text {
    color: #fff;
    font-weight: 500;
}

.btn .soft .btn-text {
    margin-left: 8px;
}

.btn1 .soft .btn-text {
    margin-left: 8px;
}

.export .soft .btn-text {
    margin-left: 8px;
}

.invisible {
    display: none;
}

.alertImg img,
.regImg img {
    width: 5vh;
    margin-left: 1vh;
}

.decAlert,
.timeAlert,
.alertImg {
    font-size: 3vh;
    color: #2F3B76;
    padding: 1.6vh;
}

.header-report-table {
    background-color: #2F3B76;
    color: white;
    font-size: 4vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 50vh;
}

#export-inst {
    color: #2F3B76;
    font-size: 4vh;
    margin-top: 7vh;
}

#datepicker {
    font-size: 4vh;
    color: #2F3B76;
    width: 50vh;
    height: 10vh;
    border-radius: 1vh;
    margin-top: 5vh;
}

#export-btn
{
    margin-top: 7vh;
    background-color: #2F3A75;
    width: 50vh;

}

.pre-export-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -10vh;
}

.export
{
    margin-left: 50vh;
    height: 10vh;
}

.modo-ativado
{
    background-color: #1D2446;
    color: white
}


